header{
  text-align: center;
}
#featured-property{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav a{
  padding: 10px;
  background-color: grey;
}
#featured-property figcaption{
  font-size: 14px;
}
#featured-property p{
  width: 800px;
}
div{
  float: left;
  background: red;
  width: 25%;
  text-align: center;
}